<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{insert head_analytics.html }}
  {{if hasmath}} {{insert head_katex.html }} {{end}}
  {{if hascode}} {{insert head_highlight.html }} {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title> {{end}}
  <link rel="stylesheet" href="https://use.typekit.net/ajj5weq.css">
</head>

<body>
  <!-- closed in foot.html -->
  {{insert pgwrap.html}}


  <!-- Content appended here (in class franklin-content) -->